body {
	/* background: #333333; */
	/* background: url(datafiles/sprites/bg5FullHd.png) 100% 100%; */
	background: url(datafiles/sprites/bg5FullHd.png);
	background-size: cover;
	margin: 0px;
	padding: 0px;
	overflow: hidden;

	font-family: fnt_Comforta_Bold;
}

/* TODO rename */
#myCanvas {
	transition-timing-function: ease-in-out;
	transition: width 0.3s, height 0.3s, margin 0.3s, top 0.3s;
	/* box-shadow: #000033 0px 0px 90px; */
	border: none;
	position: fixed;
	top: 2%;
	display: block;

	left: 50%;
	transform: translateX(-50%);
}

#myCanvas.fullscreen {
	top: 0;
}

.overlay {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: rgba(30, 30, 100, 0.7); */
	/* background: #236; */
	background: rgba(40, 40, 130, 0.3);
	backdrop-filter: blur(20px);

	color: rgba(210, 230, 255, 0.8);
	font-size: 1.2em;
	user-select: none;
}

.overlayContent {
	/* background: red; */
	display: grid;
	width: 80%;
	max-width: 512px;
	margin: 0 auto;
}

.overlayContent input {
	background: #236;
	color: rgba(210, 230, 255, 0.8);
	border: 1px solid rgba(210, 230, 255, 0.8);
	font-size: 1.4em;

	border-radius: 5px;
	padding: 4px;
}

.overlayContent input[type="button"] {
	background: #236;
	color: rgba(210, 230, 255, 0.8);
	border: 2px solid rgba(210, 230, 255, 0.8);
	font-size: 1.4em;

	width: 45%;

	border-radius: 5px;
}

.overlayContent input[type="checkbox"] {
	width: 1.4em;
	height: 1.4em;

	border-radius: 10px;

}

.hidden {
	display: none;
}


@font-face {
	font-family: fnt_Comforta_Regular;
	src: url(datafiles/fonts/Comfortaa-Regular.ttf);
}
@font-face {
	font-family: fnt_Comforta_Bold;
	src: url(datafiles/fonts/Comfortaa-Bold.ttf);
}
@font-face {
	font-family: fnt_Comforta_Light;
	src: url(datafiles/fonts/Comfortaa-Light.ttf);
}
